@import '../../mixins';
@import '../../variables';

.week-calendar {
    display: flex;
    flex-wrap: wrap;
}

.week-calendar__day {
    margin: 0;
    margin-left: 20px;
    padding: 8px 16px;
    background: $background-color-gray-light;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &:first-child {
        margin-left: 0;
    }

    @include mobile {
        position: sticky;
        top: 0;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;

        &:nth-child(1) {
            order: 0;
        }

        &:nth-child(2) {
            order: 1;
        }

        &:nth-child(3) {
            order: 2;
        }

        &:nth-child(4) {
            order: 3;
        }

        &:nth-child(5) {
            order: 4;
        }
    }

    @include tablet {
        width: calc((100% - 80px) / 5);

        &.is-today {
            background: $background-color-gray;
        }
    }

    @include desktop {
        width: 158px;
        &:first-child {
            margin-left: 188px;
        }

        &.is-today {
            background: $background-color-gray;
        }
    }
}

.week-calendar__day-number {
    color: $color-black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    @include tablet {
        display: block;
    }

    @include desktop {
        display: block;
    }
}

.week-calendar__day-name {
    color: $color-gray;
    font-size: 14px;
    line-height: 20px;

    @include tablet {
        display: block;
    }

    @include desktop {
        display: block;
    }
}

.week-calendar__room {
    width: 100%;
    padding: 8px;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;

    @include mobile {
        margin: 10px 0;
        background: $background-color-gray-light;
        display: none;
    }

    @include tablet {
        margin: 10px 0;
        background: $background-color-gray-light;
    }

    @include desktop {
        width: 188px;
        display: flex;
        border-top: 1px solid $border-color;

        &.is-first-room {
            border-top: none;
        }
    }
}

.week-calendar__room-name {
    color: $color-black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.week-calendar__room-capacity {
    color: $color-gray;
    font-size: 14px;
    line-height: 20px;

    @include desktop {
        margin-top: 8px;
    }
}

.week-calendar__cell {
    width: 100%;

    @include mobile {
        &:nth-child(6n + 7) {
            order: 0;
        }

        &:nth-child(6n + 8) {
            order: 1;
        }

        &:nth-child(6n + 9) {
            order: 2;
        }

        &:nth-child(6n + 10) {
            order: 3;
        }

        &:nth-child(6n + 11) {
            order: 4;
        }
    }

    @include tablet {
        width: calc((100% - 80px) / 5);
        margin-left: 20px;

        &.is-first-day {
            margin-left: 0;
        }
    }

    @include desktop {
        width: 178px;
        padding-left: 20px;
        border-top: 1px solid $border-color;

        &.is-first-room {
            border-top: none;
        }

        &.is-first-day {
            width: 158px;
            padding-left: 0;
        }
    }
}

.week-calendar__cell-inner {
    padding: 16px 8px;
    background: $background-color-gray-light;

    &.is-first-room {
        padding-top: 4px;
    }

    &.is-last-room {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    @include tablet {
        padding: 4px 8px;

        &.is-today {
            background: $background-color-gray;
        }
    }

    @include desktop {
        &.is-today {
            background: $background-color-gray;
        }
    }
}

.week-calendar__cell-day {
    display: none;

    @include mobile {
        display: none;
    }
}

.week-calendar__cell-slots-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: 900px) and (max-width: 1059px) {
        columns: 2;
        column-gap: 2px;
    }

    @include desktop {
        columns: 2;
        column-gap: 2px;
    }
}

.week-calendar__cell-slots-item {
    margin-top: 2px;

    &:first-child {
        margin-top: 0;
    }
}

.week-calendar__cell-slot {
    width: 100%;
}

.week-calendar__cell-room {
    padding: 4px 8px;
    background: $background-color-gray-light;
    text-align: center;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}
