@import '../../mixins';

.app {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.app__week-calendar {
  margin-top: 10px;

  @include tablet {
    margin-top: 20px;
  }

  @include desktop {
    margin-top: 20px;
  }
}

.app__confirm-date,
.app__confirm-action {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
